/* 화면에 높이 100%주기 위해서 부모의 부모에게 다 높이 100% 줌 */
html,body{height: 100%;}

/* body에 적용했어도 form이나 input에는 안 먹어서 부모에게 상속받게 함 */
*{
    margin: 0; padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: inherit;
}
/* 글꼴, 웹폰트, 글자크기, 글자색, 글자 두께, 글자 기울어짐, 글자 밑줄 전부 body에 설정 */
/* ->style_guide에 분할시킴 */

li{list-style: none;}

table{
    border-spacing: 0;
    border-collapse: collapse;
}
/* 테두리와 패딩크기를 크기 안으로 설정 */
input,select,textarea,button{
    box-sizing: border-box;
}
button{
    background: none;
    /* 버튼 테두리 없앰 */
    border: none;
    /* 마우스 가져다 댔을 때 나타나는 파란 테두리 outline */
    outline: none;
    /* 마우스를 가져다 대면 커서가 손가락 모양으로 변함, 사용자에게 클릭할 수 있다고 알려줌*/
    cursor: pointer;
}
/* clearfix 클래스 생성 */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* label같은 거 숨길 때, 완전 너무한 좌표를 줘서 안 보이게 함 */
.hidden{
    position: fixed;
    top: -100000px;
}