body{
  color: #333;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-style: inherit;
}