html,body{height: 100%; overflow: hidden; background: #cecece;}

#calc_container{
  box-sizing: border-box;
  max-width: 500px;
  height: calc(100% - 100px);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#calc_container>input{
  width: 100%;
  height: 150px;
  text-align: right;
  font-size: 30px;
  padding: 10px;
  box-sizing: border-box;
}

#calc_container>button{
  width: 25%;
  height: calc(100% / 7);
  float: left;
}

#calc_container>button>img{
  max-width: 90%;
  max-height: 90%;
}